openapi: 3.2.0
info:
  title: Sift Workflows API
  description: Sift is a digital trust and safety platform that uses machine learning to detect and prevent online fraud and abuse - payment fraud, account takeover, account abuse, content abuse, and promotion abuse.
  version: '2026-07-12'
  contact:
    name: Sift Developer Documentation
    url: https://developers.sift.com/docs
  x-modeled: true
  x-modeled-by: API Evangelist
  x-modeled-sources:
  - https://developers.sift.com/docs
  - https://developers.sift.com/docs/curl/apis-overview
  - https://github.com/SiftScience/sift-python
servers:
- url: https://api.sift.com
  description: Sift production API (single public host)
security:
- apiKeyBasic: []
tags:
- name: Workflows
  description: Retrieve the status and results of Sift Workflow runs.
paths:
  /v3/accounts/{account_id}/workflows/runs/{run_id}:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    - name: run_id
      in: path
      required: true
      description: The ID of the workflow run.
      schema:
        type: string
    get:
      operationId: getWorkflowRun
      tags:
      - Workflows
      summary: Get a workflow run status
      description: Retrieves the status and applied decisions of a Sift Workflow run.
      responses:
        '200':
          description: The workflow run status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: Your numeric Sift Account ID.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
  schemas:
    WorkflowRun:
      type: object
      description: Workflow run status (modeled).
      properties:
        id:
          type: string
        state:
          type: string
          enum:
          - running
          - finished
          - failed
        entity:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
        history:
          type: array
          items:
            type: object
            additionalProperties: true
    ApiError:
      type: object
      description: Modeled error envelope. Sift returns a numeric status and error_message.
      properties:
        status:
          type: integer
          description: Sift status code (0 indicates success; non-zero indicates an error).
        error_message:
          type: string
        time:
          type: integer
          format: int64
  securitySchemes:
    apiKeyBasic:
      type: http
      scheme: basic
      description: HTTP Basic authentication using your Sift REST API key as the username and an empty password. Ingestion APIs (Events, Score, Labels) also accept the key as $api_key in the JSON request body. Account-scoped APIs (Decisions, Workflows, PSP Merchant Management) require your numeric Account ID in the path in addition to the API key.
